.button {

    -fx-padding: 10px;
    padding: 10px;
    -fx-margin: 10px;
    margin: 10px;
    -fx-font-weight: Bold;
    font-weight: bold;
    -fx-font-size: medium;
    font-size: medium;
}

#hbtopID {
    margin: 10px, 0px, 5px, 0px;
}